* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: rgba(61, 55, 55, 0.486);
  height: 100vh;

  display: flex;
  justify-content: center;
}
.message {
  background-color: rgb(151, 32, 59);
  margin-top: 10%;
  margin-bottom: 10%;
  height: 65%;
  width: 80%;
  overflow: hidden;
  flex-wrap: nowrap;
  box-shadow: 1px 2px 3px 4px rgba(20, 20, 20, 0.4);
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
img {
  width: 100%;
  height: 200px;
}
p {
  font-style: italic;
  color: white;
  font-size: 24px;
  margin-left: 12%;
  margin-right: 12px;
  margin-top: 5%;
  padding-bottom: 2px;
}

@media only screen and (max-width: 480px) {
  p {
    font-size: 16px;
  }
  img {
    height: 120px;
  }
  .message {
    margin-top: 22%;
  }
}
