* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: rgba(61, 55, 55, 0.486);

  display: flex;
  justify-content: center;
}
.message {
  background-color: rgb(151, 32, 59);
  margin-top: 10%;
  margin-bottom: 30%;
  height: 80%;
  overflow: hidden;
  flex-wrap: nowrap;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
img {
  width: 100%;
  height: 200px;
}
p {
  font-style: italic;
  color: white;
  font-size: 24px;
  margin-left: 12%;
  margin-top: 5%;
  margin-bottom: 5%;
}

@media only screen and (max-width: 480px) {
  p {
    font-size: 16px;
  }
}
